*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}


.header__wrapper{
    width: 100%;
    height: 61px;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 100;
    
    .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px 0 30px;

        .menu__icon {
            transition: .2s;
        } 

        .menu__icon:hover {
            color: rgb(149, 149, 149) !important;
        }

        .branding1 {
            color: white;
            letter-spacing: -9%;
            font-weight:lighter;
            font-size: 16px;
            text-shadow: 0px 0px 15px white;
        }
        .branding2 {
            color: white;
            letter-spacing: -4%;
            font-size: 16px;
            cursor: default;
        }
        .dropdown__wrapper {
            position: absolute;
            top: 80px;
            padding: 10px;
            border-radius: 15px;
            background-color: rgba(0, 0, 0, 0.301);
        }
        .dropdown__menu, a {
            row-gap: 10px;
            z-index: 100;
            display: flex;
            flex-direction: column;
            color: white;
            transition: .2s;
        }
        .dropdown__menu a:hover {
            color: rgb(149, 149, 149)
        }
        .dropdown__menu p {
            cursor: default;
        }
    }
}

.video__wrapper {
    position: relative;
    margin-top: 61px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;

    .video__section {
        video {
            object-fit: cover;
            width: 100%;
        }
        div {
            color: white;
            display: flex;
            position: absolute;
            left: 0;
            right: 0;
            top: -100px;
            bottom: 0;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            text-shadow: 5px 5px 5px black;
            background: rgba(0, 0, 0, 0.377);
            cursor: default;
        }
    }
}

.main__wrapper {

    .main__section {
        position: relative;

        .product-slider {
            width: 100%;
            max-width: 600px;
            height: 100%;
            margin: 40px auto;
            position: absolute;
            top: -100px;
            right: 0;
            left: 0;
            z-index: 20;
          
            .swiper-button-next,
            .swiper-button-prev {
              color: white;
              padding: 8px 14px;
              border-radius: 50%;
              transition: color 0.3s;
            }
          
            .swiper-button-next:hover,
            .swiper-button-prev:hover {
              color: rgba(255, 255, 255, 0.233);
            }
          
            .swiper-pagination {
                position: absolute;
                bottom: 0px;
                width: 100%;
                text-align: center;
                z-index: 20;
              }
  
              .swiper-pagination-bullet {
                background: rgba(255, 255, 255, 0.618);
                opacity: 0.2;
                margin: 0 4px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transition: opacity 0.3s;
              }
  
              .swiper-pagination-bullet-active {
                opacity: 1;
              }
            }
          
            .product-slide {
                display: flex;
                flex-direction: column;
                align-items: center;
            
            .product-image {
                max-width: 800px;
                height: auto;
                object-fit: cover;
                border-radius: 8px;
            }
            
            .product-title {
                margin-top: -100px;
                font-size: 20px;
                color: white;
                text-align: center;
                letter-spacing: -1%;
                position: absolute;
                bottom: 150px;
            }
        }
        
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.33);
            z-index: 10;
        }

        .main__pic {
            position: relative;
            width: 100%;
            min-height: 630px;
        }
        
        .main__btn {
            color: black;
            font-size: 18px;
            padding: 10px;
            border-radius: 50px;
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 30;
            background: rgba(255, 255, 255, 0.451);
            transition: .3s;

        }
        .main__btn:hover {
            background: rgba(255, 255, 255, 0.614);
            color: rgb(74, 74, 74);
        }
    }
}

/* адаптив слайдера */

@media (max-width: 1179px ) {
    .product-slider {
        transform: scale(0.9);
        transform-origin: top center;
    }
}

@media (max-width: 1069px ) {
    .product-slider {
        transform: scale(0.8);
        transform-origin: top center;
    }
}

@media (max-width: 709px ) {
    .product-slider {
        transform: scale(0.7);
        transform-origin: top center;
    }
}

@media (max-width: 720px) {
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
        display: none;
        opacity: 0;
    }
}

/* адаптив слайдера */

.footer {
    width: 100%;
    height: 66px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    letter-spacing: -5%;
    cursor: default;
}
